{
    "presets": ["next/babel"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@": "./",
                    "@scss": "./scss",
                    "@components": "./components",
                    "@interfaces/": "./interfaces/index.ts",
                    "@models/": "./models/",
                    "@utils/": "./utils/"
                }
            }
        ]
    ]
}
